*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	background-color:#CCC;
	font-size:12px;
}

.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.floatx{
	position:fixed;
	width:60px;
	height:60px;
	bottom:128px;
	right:40px;
	background-color:rgb(223, 135, 3);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.floaty{
	position:fixed;
	width:60px;
	height:60px;
	bottom:216px;
	right:40px;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.my-float{
	font-size:24px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

.popup{
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.popup-content{
	height: 400px;
	width: 500px;
	top:100px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	position: relative;


}
.popup-notif{
	height: 400px;
	width: 500px;
	top:100px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	overflow-y:scroll;
    z-index:10;

	
}
input{
	margin: 20px auto;
	display: block;
	width: 60%;
	padding: 8px;
	border: 1px solid gray;
}

.btn-register{
    background: rgb(77, 156, 235);
    color: rgb(230, 230, 230);
}
.btn-register:hover{
    color: rgb(255, 255, 255);
}

.btn-exit{
    background: rgb(235, 88, 77);
    color: rgb(230, 230, 230);
}
.btn-exit:hover{
    color: rgb(255, 255, 255);
}
* {
  box-sizing: border-box;
}

/* Style the list (remove margins and bullets, etc) */
ul {
  	list-style-type: none;
  	padding: 0;
  	margin: 0;
}

/* Style the list items */
.msgItem{
	border: 1px solid #ddd;
	margin-top: -1px; /* Prevent double borders */
	background-color: #f6f6f6;
	padding: 12px;
	padding-right: 36px;
	text-decoration: none;
	font-size: 12px;
	color: black;
	display: block;
	position: relative;
}

/* Add a light grey background color on hover */
.msgItem:hover {
  	background-color: #eee;
}

/* Style the close button (span) */
.close {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 0%;
	padding: 5px 4px;
	transform: translate(0%, -50%);
}

.close:hover {background: #bbb;}




